<%= render 'shared/breadcrumbs_mypage', { title: "温泉詳細" } %>

<div class="row">
  <div class="col-lg-12">
    <div id="add-listing">
      <!-- Section -->
      <div class="add-listing-section padding-top-40">

        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Table-->
          <table class="basic-table">
            <tbody>
              <tr>
                <td data-label="項目"><%= Hotel.human_attribute_name("name") %></td>
                <td data-label="内容"><%= @hot_spring.name %></td>
              </tr>
              <tr>
                <td data-label="項目"><%= Hotel.human_attribute_name("address") %></td>
                <td data-label="内容"><%= @hot_spring.address %></td>
              </tr>
              <tr>
                <td data-label="項目">URL</td>
                <td data-label="内容"><%= link_to nil, hot_spring_url(@hot_spring) %></td>
              </tr>
              <tr>
                <td data-label="項目"><%= Hotel.human_attribute_name("description") %></td>
                <td data-label="内容"><%= safe_join(@hot_spring.description.split("\n"), tag(:br)) %></td>
              </tr>
              <tr>
                <td data-label="項目">組織</td>
                <td data-label="内容"><%= @hot_spring.organization.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Map -->
          <div class="col-md-12">
            <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= @hot_spring.lat %>" data-lng="<%= @hot_spring.lng %>"></div>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <% if @hot_spring.images.attached? %>
          <div class="row with-forms margin-bottom-20">
            <!-- Images preview -->
            <div class="col-md-12">
              <div id="preview">
                <% @hot_spring.images.each do |image| %>
                  <%= image_tag image.variant(resize: '300x200').processed %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Row / End -->

        <%= link_to "編集", edit_organization_hot_spring_path, class: "button margin-top-40" %>
        <%= link_to "この温泉を削除", organization_hot_spring_path, method: :delete, data: { confirm: "削除すると復旧はできません。よろしいですか？" }, class: "border button" %>

      </div>
      <!-- Section / End -->
    </div>
  </div>
