<div class="blog-post">

  <!-- Img -->
  <% if post.image.attached? %>
    <%= link_to image_tag(post.image), polymorphic_path([post.postable, post]), class: "post-img" %>
  <% end %>

  <!-- Content -->
  <div class="post-content">
    <h3>
    <%= link_to polymorphic_path([post.postable, post]) do %>
      <%= post.title %>
    <% end %>
    </h3>

    <ul class="post-meta">
      <li><%= post.decorate.format_created_at %></li>
    </ul>

    <p><%= post.decorate.truncate_body(100) %></p>

    <%= link_to polymorphic_path([post.postable, post]), class: "read-more" do %>
      Read More <i class="fa fa-angle-right"></i>
    <% end %>
  </div>

</div>
