  <!-- Slider
================================================== -->
  <% if @ski_area.images.attached? %>
    <div class="listing-slider mfp-gallery-container margin-bottom-0">
      <%= render partial: 'ski_area_image', collection: @ski_area.images %>
    </div>
  <% end %>

  <!-- Content
================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-8 col-md-8 padding-right-30">

        <!-- Titlebar -->
        <div id="titlebar" class="listing-titlebar">
          <div class="listing-titlebar-title">
            <h2>
              <%= @ski_area.name %> 
            </h2>
            <span>
              <a href="#listing-location" class="listing-address">
                <i class="fa fa-map-marker"></i>
                <%= @ski_area.address %>
              </a>
            </span>
          </div>
        </div>

        <!-- Location -->
        <div id="listing-location" class="listing-section">
          <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">地図</h3>
          <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= @ski_area.lat %>" data-lng="<%= @ski_area.lng %>"></div>
        </div>

      </div>

      <!-- Sidebar
  ================================================== -->
      <div class="col-lg-4 col-md-4 margin-top-75 sticky">

      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
