<%= render 'shared/breadcrumbs_mypage', title: title %>

<div class="row">
  <div class="col-lg-12">
  <%= form_with model: [post.postable.organization, post.postable, post], url: polymorphic_path([post.postable.organization, post.postable, :posts]) do |f| %>
    <div id="add-listing">
      <%= render 'shared/error_messages', model: f.object %>
      <!-- Section -->
      <div class="add-listing-section padding-top-25">

        <!-- Row -->
        <div class="row with-forms">
          <!-- Name -->
          <div class="col-md-12">
            <h5><%= f.label :title %></h5>
            <%= f.text_field :title %>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <div class="row with-forms">
          <!-- Name -->
          <div class="col-md-12">
            <h5><%= f.label :body %></h5>
            <%= f.text_area :body, class: "WYSIWYG", cols: 40, rows: 3, id: "summary" %>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Images -->
          <div class="col-md-12">
            <h5><%= f.label :image %></h5>
            <%= f.label :image, class: "uploader-conteiner" do %>
              <div class="uploader-inner">
                <i class="sl sl-icon-plus"></i>ここをクリックして画像をアッsプロードしてください
              </div>
              <%= f.file_field :image, class: "dropzone dz-clickable", onchange: "previewImage(this)" %>
            <% end %>
          </div>
        </div>
        <!-- Row / End -->

        <!-- Row -->
          <div class="row with-forms margin-bottom-20">
            <!-- Images preview -->
            <div class="col-md-12">
              <div id="preview">
              </div>
            </div>
          </div>
        <!-- Row / End -->


        <!-- Row -->
        <div class="row with-forms margin-bottom-20">
          <!-- Restaurant category -->
          <div class="col-md-12">
          <h5><%= f.label :status %></h5>
          <%= f.select :status, Post.statuses.keys.map { |key| [t("enums.post.status.#{key}"), key] }, {}, { class: "chosen-select" } %>

          </div>
        </div>
        <!-- Row / End -->

      </div>
      <!-- Section / End -->

      <%= f.submit nil, class: "button margin-top-40" %>

    </div>
  <% end %>
  </div>

  </div>