<li class="<%= "unread" if post.draft? %>">
  <%= link_to polymorphic_path([post.postable.organization, post.postable, post]) do %>
    <% if post.image.attached? %>
      <div class="message-avatar">
        <%= image_tag post.image %>
      </div>
    <% end %>
    <div class="message-by">
      <div class="message-by-headline">
        <h5><%= post.title %>
          <% if post.draft? %>
            <i>下書き</i>
          <% end %>
        </h5>
        <span><%= post.created_at.strftime('%Y/%m/%d  %H:%M') %></span>
      </div>
      <p><%= post.decorate.truncate_body(100) %></p>
    </div>
  <% end %>
</li>
