  <!-- Slider
================================================== -->
  <% if @activity.images.attached? %>
    <div class="listing-slider mfp-gallery-container margin-bottom-0">
      <%= render partial: 'activity_image', collection: @activity.images %>
    </div>
  <% end %>

  <!-- Content
================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">
      <div class="col-lg-8 col-md-8 padding-right-30">

        <!-- Titlebar -->
        <div id="titlebar" class="listing-titlebar">
          <div class="listing-titlebar-title">
            <h2>
              <%= @activity.name %> 
            </h2>
            <span>
              <a href="#listing-location" class="listing-address">
                <i class="fa fa-map-marker"></i>
                <%= @activity.address %>
              </a>
            </span>
          </div>
        </div>

        <!-- Listing Nav -->
        <div id="listing-nav" class="listing-nav-container">
          <ul class="listing-nav">
            <li><a href="#listing-overview" class="active">概要</a></li>
            <% unless @posts.size == 0 %>
              <li><a href="#listing-reviews">NEWS</a></li>
            <% end %>
            <li><a href="#listing-location">地図</a></li>
          </ul>
        </div>

        <!-- News -->
        <% unless @posts.size == 0 %>
        <div id="listing-reviews" class="listing-section">
          <h3 class="listing-desc-headline margin-top-75 margin-bottom-20">NEWS</h3>

          <div class="clearfix"></div>

          <section class="comments listing-reviews">
            <ul>
              <%= render partial: "listing_partial/single_page_post", collection: @posts.three, as: 'post' %>
            </ul>
          </section>

          <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-top-30">
                  <nav class="pagination">
                    <%= link_to activity_posts_path(@activity) do %>
                      NEWS一覧 <i class="sl sl-icon-arrow-right"></i>
                    <% end %>
                  </nav>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->

        </div>
        <% end %>

        <!-- Location -->
        <div id="listing-location" class="listing-section">
          <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">地図</h3>
          <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= @activity.lat %>" data-lng="<%= @activity.lng %>"></div>
        </div>

      </div>

      <!-- Sidebar
  ================================================== -->
      <div class="col-lg-4 col-md-4 margin-top-75 sticky">

      <% if current_user %>
        <div class="listing-share margin-top-40 margin-bottom-40 no-border" id="bookmark-area">
          <% if current_user.bookmark?(@activity) %>
            <%= render 'unbookmark', activity: @activity %>
          <% else %>
            <%= render 'bookmark', activity: @activity %>
          <% end %>
        </div>
      <% end %>

      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
